[user]
	name = bsod2528
	email = ...
[core]
	editor = nvim
	ignorecase = false
	pager = delta
[delta]
	light = false
	navigate = true
	true-color = always
	line-numbers = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
